<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="com.update.semi.sduser">

<resultMap type="sduserDto" id="sduserMap">
	<result property="sduseq" column="SDUSEQ"/>
	<result property="sduemail" column="SDUEMAIL"/>
	<result property="sdupw" column="SDUPW"/>
	<result property="sduname" column="SDUNAME"/>
	<result property="sdusex" column="SDUSEX"/>
	<result property="sdunick" column="SDUNICK"/>
	<result property="sdudob" column="SDUDOB"/>
	<result property="sdudeact" column="SDUDEACT"/>
	<result property="sdugrade" column="SDUGRADE"/>
	<result property="sdudeactdate" column="SDUDEACTDATE"/>
	<result property="sduregdate" column="SDUREGDATE"/>
</resultMap>

<select id="emailCheck" parameterType="String" resultMap="sduserMap">
select SDUEMAIL from SDUSER where SDUEMAIL = #{sduemail}
</select>

<insert id="join" parameterType="sduserDto">
insert into SDUSER values(SDUSEQ.NEXTVAL,#{sduemail},#{sdupw},#{sduname},#{sdusex},#{sdunick},TO_DATE(#{sdudob},'YYYY-MM-DD'),'N','USER',NULL,SYSDATE)
</insert>

<select id="login" parameterType="sduserDto" resultMap="sduserMap">
select SDUSEQ,SDUEMAIL,SDUPW,SDUNAME,SDUSEX,SDUNICK,TO_CHAR(SDUDOB, 'YYYY-MM-DD') SDUDOB from SDUSER where SDUEMAIL=#{sduemail} and SDUPW=#{sdupw} and SDUDEACT='N'
</select>

<select id="snsemailchk">
select SDUEMAIL from SDUSER where SDUEMAIL=#{sduemail} and SDUDEACT='N'
</select>

<update id="updatemypage" parameterType="sduserDto">
update SDUSER set SDUNAME=#{sduname},SDUSEX=#{sdusex},SDUNICK=#{sdunick},SDUDOB=TO_DATE(#{sdudob},'YYYY-MM-DD')
where SDUEMAIL = #{sduemail}
</update>

<select id="selectOne" parameterType="String">
select SDUSEQ,SDUEMAIL,SDUPW,SDUNAME,SDUSEX,SDUNICK,TO_CHAR(SDUDOB, 'YYYY-MM-DD') from SDUSER where SDUEMAIL=#{sduemail} 
</select>


</mapper>
